<nav class="navbar navbar-default">
  	<div class="container-fluid ">
    	<a class="navbar-brand text-center" href="#">weather.snippetbucket</a>
<!-- 	  	<ul class="nav navbar-nav pull-right">
	  		<input type="text input-group" 	#key1 name="key" (ngModel)="key">{{key}}
	  		<button class="btn btn-primary sb-search" (click)="redirectSearch(key1.value)"> Search </button>
		</ul> -->

		<div class="search-container">
			<input type="text" placeholder="Search.." #key1 name="key" (ngModel)="key">
			<button (click)="redirectSearch(key1.value)"><i class="glyphicon glyphicon-search"></i></button>
		</div>
  	</div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>