<div class="panel-group" *ngIf="data">
    <ng-container *ngFor="let weather of data" >

<!-- listing -->
		<div *ngIf="isList" class="col-sm-12 col-md-6 figure" >
			<a routerLink="/weather/{{weather.woeid}}">
		        <div class="panel panel-primary" *ngIf="weather">
	             	<div class="panel-heading" >
	                	{{ weather.title }}
	                	<span class="pull-right">Updated: {{weather.consolidated_weather[
	                	0].created | date:'shortTime'}}</span>

	             	</div>

		        	<div class="panel-body">
		                <div align = "center">
		                	<img src="https://www.metaweather.com/static/img/weather/ico/{{weather.consolidated_weather[0].weather_state_abbr}}.ico"> 
		                	<br/>
		                	<span>{{weather.consolidated_weather[0].weather_state_name}}</span>
		                </div>
		                <h1 align = "center" class = "cityName"> {{ weather.consolidated_weather[0].the_temp | number:'0.2-2'  }}°C </h1>
		                <div class="col-sm-12"> 
		                	<div class = "col-md-6 col-sm-12"> 
		                		Min Temp :  {{weather.consolidated_weather[0].min_temp  | number:'0.2-2' }}°C 
		                	</div>
		                	<div class = "col-md-6 col-sm-12 text-center">
		                		Max Temp :  {{weather.consolidated_weather[0].max_temp  | number:'0.2-2' }}°C 
		                	</div>
		            	</div>

		            </div>
		        </div>
	    	</a>
		</div>

<!-- single page of weather by country id -->
		<div *ngIf="!isList" class="col-sm-12 col-md-12 figure">
		
	        <div class="panel panel-primary" *ngIf="weather">
             	<div class="panel-heading">
                	{{ weather.title }}
                	
             	</div>

	        	<div class="panel-body">

	        		<div *ngFor="let weather of weather.consolidated_weather ; let i = index" class="col-md-2">
	        			<div class="date primary" *ngIf="i!==0 && i!==1" align="center">{{ weather.applicable_date | date:'mediumDate' }}</div>
	        			<div class="date primary" *ngIf="i==0" align="center">Today</div>
	        			<div class="date primary" *ngIf="i==1" align="center">Tomorrow</div>
		                <div align = "center">

		                	<img src="https://www.metaweather.com/static/img/weather/ico/{{weather.weather_state_abbr}}.ico"> 
		                	<br/>
		                	<span>{{weather.weather_state_name}}</span>
		                </div>
		                <h1 align = "center" class = "cityName"> {{ weather.the_temp | number:'0.2-2'  }}°C </h1>
		                <div class="col-sm-12"> 
		                	<div class = "col-md-12 col-sm-12"> 
		                		Min : {{ weather.min_temp | number:'0.2-2' }}°C 
		                	</div>
		                	<div class = "col-md-12 col-sm-12">
		                		Max : {{weather.max_temp | number:'0.2-2' }}°C 
		                	</div>
		            	</div>
					</div>

	            </div>
	        </div>
		</div>


    </ng-container>
</div>
